@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes jiggle {
  0%, 94% { transform: rotate(0deg); }
  95% { transform: rotate(1deg); } 
  97% { transform: rotate(-1deg); } 
  99% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}
